html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  background-color: blanchedalmond;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.image-editor {
  width: 850px;
  height: 650px;
  padding: 50px;
  position: relative;
  margin: 2rem auto 0 auto;
  background-color: #fafafa;
}

.blur-layer,
.image-layer,
.drag-layer,
.image-uploader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-uploader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 20%;
  border: 0.25rem dashed grey;
  color: grey;
}

.image-input {
  display: none;
}

.editor-controller {
  width: 850px;
  margin: auto;
  padding: 1.5rem;
  text-align: center;
  background-color: whitesmoke;
}

.control-button {
  margin: 0.25rem;
  padding: 0.5rem 1rem;
}
